/*

Colours:
Blue (MoC): rgb(31,44,88);
Text (All): White;
Statistics: #FC7307;


*/

/*******************
  GENERIC BASE SETUP
*******************/

* {
    box-sizing: border-box;
    scroll-behaviour: smooth;
}

html {
    font-size: 62.5%; 

}
  
.header {
    /* width: 95%; */
    margin: 0 auto;

}

i {
    font-size: 2rem;
    padding: 2rem;
}

body {
    background-color: rgb(31,44,88);
    color: white;
    text-align: center;
    width: 100%

}

.slides {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.slides > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3.0s;
}

.slide-active {
    opacity: 1 !important;
    transition-delay: 0.6s;
}

.hidden { 
    display: none;

}
.active {
    display: block;
    
}

.ishidden {
    opacity: 0;
    position: relative;
    transition: all 0.6s;
}

.isactive {
opacity: 1;
position: relative;
transition: all 0.9s;

}

.isactive:nth-child(2) {
transition-delay: 0.34s;

}

.isactive:nth-child(3) {
transition-delay: 0.8s;

}

a {
    text-decoration: none;
    color: white;
    /* font-size:1.5rem; */

}

nav li {
    list-style: none;
    padding: 1rem;

}

nav a {
    font-size: 1.5rem;
}



h2 {
    padding: 0;
    margin: 0;

}

nav ul {
    padding-inline-start: 0px;
    padding: 0;
    margin:0;
    display: none;

}

body {
    font-family: 'Raleway', sans-serif;

}

.container img {
    height: auto;
    width: 15rem;

}

.black {
    color: black;
}

.white {
    color: white;
}

h1 {
    font-size: 2.5rem;
    background-color: rgba(0,0,0,0.3);
    padding: 2rem;
    margin: 0;

}

.header {
    background-color: rgba(31,44,88,0.6);

}

.header img {
    height: 10rem;

}


.intro .flyingtext {
    /* padding: 5rem; */
    
}

h2 {
    font-size: 2rem;
}

.backgroundimage {
height: 90vh;
position: relative;
}

.intro {   
    height: 30vh;
}
.intro a {
    margin-top: 90rem;
}

.cta {
    background-color: rgba(31,44,88, 1);
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2rem;

}

.flyingtext1 {
    display: show;
}

.flyingtext2 {
    display: none;
}

.flyingtext3 {
    display: none;
}

.courses {
    max-width: 100%;
    height: 100vh;
    line-height: 2rem;

}
.courses p {
    max-width: 75%;
    margin: 0 auto;

}

.courses h2 {
    margin: 1rem;
}

.coursecontainer div {
    height: 15rem;
    width: 75%;
    margin: 2rem auto;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;

    
}
.coursecontainer h3 {
    font-size: 2rem;
}
.course1 {
    background-image: url(../images/course_citrix_netscaler.png);
    /* background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.course1 .text1 {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    padding: 1rem;
}

.course2 {
    background-image: url(../images/course_workspaces.jpeg);
    background-position: center;

}
.course2 .text2 {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 1rem;
    
}
.course3 {
    background-image: url(../images/course_appstream2.png);
    background-position: center;

}
.course3 .text3 {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 1rem;
   
}
.course4 {
    background-image: url(../images/course_appstream2.png);
    background-position: center;

}
.course4 .text4 {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 1rem;

    
}
.course5 {
    background-image: url(../images/course_abgtpyfo.jpeg);
    background-position: center;

}
.course5 .text5 {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 1rem;

    
}

.course6 {
    background-image: url(../images/course_appstream2.png);
    background-position: center;

}
.course6 .text6 {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 1rem;

    
}


.statistics {
background-color: black;
height: 10rem;
display: flex;
flex-direction: row;
font-size: 1.5rem;
justify-content: space-around;


}

.statcounter {
    color: #FC7307;
    font-size: 2rem;
    /* margin: 1rem; */
}

.resources {
    background-image: url(../images/bkgnd_cloudservice.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    

    /* background-attachment: fixed; */

}

.rescontainer {
    /* width: 95%; */
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgba(31,44,88,0.8);
    border-radius: 2rem;

}

.rescontainer li {
    font-size: 2rem;
    text-decoration: none;
    list-style: none;

}

.rescontainer h3 {
    color: yellow;
}

.rescontainer a {
    color: yellow;
}

.footer {
    padding: 3rem;
    background-color: black;

}

.social li {
    display: inline-block;
    /* font-size: 4rem; */

}
.social, p{
    font-size: 1rem;
}

.social i {
    font-size: 3rem;
}

/* .background1 {
    background-image: url(../images/bkgnd_electriccloud__750x421.jpg)
}

.background2 {
background-image: url(../images/bkgnd_cloudservice.jpg)
}

.background3 {
background-image: url(../images/bkgnd_noosa_clouds.jpg)
} */

ul {
    padding: 0;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); */
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    /* color: #fff; */
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    /* background: rgba(0, 0, 0, 0.9); */
}
#return-to-top:hover i {
    /* color: #fff; */
    top: 5px;
}

/* ******************
DESKTOP HEADER SETUP
*******************/

@media screen and (min-width: 768px) {
    h1 {
        font-size: 8rem;
    }
    
    h2 {
        font-size: 4rem;
    }    

    h3 {
        font-size: 2rem;
    
    }
    
    .text1, .text2, .text3 {
        font-size: 1.5rem;
    }

    .courses > p {
        font-size: 2rem;
    }

    .social > p {
        font-size: 1rem;
    }

    .statistics {
        font-size: 3rem;
        height: 10rem;
            
    }
    .social i {
        font-size: 5rem;
    }
        
    .statcounter {
        font-size: 4rem;
    }
    

    body {
        /* background-color: rgb(31,44,88); */
        color: white;
    }

    nav .fas {
        display: none;
    }

    /* Improved hover effects */
    nav a:hover {
        color: #FC7307;
        transition: color 0.3s ease;
    }

    .social i:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
        color: #FC7307;
    }

    /* Course hover effects */
    .course1:hover, .course2:hover, .course3:hover, .course4:hover, .course5:hover, .course6:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        box-shadow: 0 8px 25px rgba(0,0,0,0.3);
        cursor: pointer;
    }

    /* Add smooth transitions to course cards */
    .course1, .course2, .course3, .course4, .course5, .course6 {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    /* JavaScript-controlled hover class for better performance */
    .course-hover {
        transform: scale(1.05) !important;
        box-shadow: 0 12px 30px rgba(0,0,0,0.4) !important;
        z-index: 10;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-content: center;
    
    }

    .header {
            background-color: rgba(31,44,88,.1)
    }

    .header img {
        height: 10rem;
        width: 20rem;

    }
    nav ul {
        display: flex;
        line-height: 5rem;
        font-size: 2rem;
        margin: 2rem;
    }
    .backgroundimage {
        height: 90vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .courses {
        height: 100vh;
        
    }
    .coursecontainer {
        display: flex;
        height: 40vh;
        justify-content: space-between;
        align-items: center;
    
    }
    .coursecontainer div {
        margin: 0 auto;
        align-content: space-between;
        height: 30rem;
    
    }

    .course1, .course2, .course3, .course4, .course5, .course6 {
        flex-basis: 29%;
       
    }

    .resources {
        background-image: url(../images/bkgnd_cloudservice.jpg);
        background-attachment: fixed;
        background-color: rgba(1,1,1,1);

    } 
 

}